services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: monitoring
      POSTGRES_USER: monitoring
      POSTGRES_PASSWORD: monitoring
    ports:
      - "5432:5432"
    volumes:
      - monitoring_postgres_data:/var/lib/postgresql/data

volumes:
  monitoring_postgres_data:
